#glavglav {
  display: flex;
  flex-direction: column;
}
#wrapper {
  display: flex;
  user-select:none;
  margin: auto;
  height: 80px;
  position: fixed;
  background-color: white;
  z-index: 1;
  width: 100%;

}
#nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 24%;
  position: absolute;
  height: 80px;
  align-items: center;
  margin-top: -0.2%;
}
#photo {
  display: flex;
  margin-left: 3%;
  height: 80%;
  position: absolute;
 justify-content: center;
}
#elem1, #elem2, #elem3 {
  display: flex;
  background-color: #fbb900;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  margin-right: 15px;
  margin-top: auto;
  margin-bottom: auto;
}
#elem4 {
  display: flex;
  background-color: #fbb900;
  width: 200px;
  height: 40px;
  border-radius: 30px;
  margin-left: 20px;
}
#but_elem4 {
  display: inline-block;
  background-color: #fbb900;
  width: 200px;
  height: 40px;
  border-radius: 30px;
  border: 1px solid #fbb900;
  text-align: center;
  padding-right: 6px;
  color: white;
  font-weight:bold;
  font-size: 15px;
  border: 0px;
  
}
#but_elem4:hover {
  animation-name: hover;
  animation-duration: 0.3s;
  cursor: pointer;
  background-color:#a07602;
}
@keyframes hover {
  from {
    background-color:#fbb900;
  }
  to {
    background-color:#a07602;
  }
}
h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  margin-left: 50px;
  margin-top: auto;
  margin-bottom: auto;
}
#all_elems {
  display: flex;
  margin: auto 0px;
  flex-direction: row;
  margin-left: 70%;
  position: absolute;
  height: 80px;
  align-items: center;
}
.btn-primary {
  background-color:#fbb900;
  width: 240px;
  border: 0px;
  --bs-btn-active-bg: #a07602;
  --bs-btn-hover-bg: #a07602;
}
.btn-primary:hover {
  animation-name: hover;
  animation-duration: 0.3s;
  
}
#text {
  width: 370px;
  font-size: 30px;
}
#bg {
  display: block;
  width: 100%;
  position: absolute;
  z-index: -1;
}
#glavbut {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
#but {
  margin-left: 45%;
  margin-top: 19%;
}
#but2 {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 9%;
  margin-bottom: 2%;
}
.btn-secondary {
  border-radius: 180px;
  background-color:#fbb900;
  width: 240px;
  border: 0px;
  --bs-btn-active-bg: #a07602;
  --bs-btn-hover-bg: #a07602;
}
.btn-secondary:hover {
  animation-name: hover;
  animation-duration: 0.3s;
}
#info {
  display: flex;
  background-color: #fbb900;
  width: 100%;
  height: 525px;
  align-items: center;
  flex-direction: column;
}
#dio1 {
  font-weight: bold;
  color:white;
  font-size: 60px;
  margin: 0px;
  line-height: 125%;
  margin-top: 50px;
}
#dio2 {
  font-size: 25px;
  margin-top: 20px;
}
#glavdio{
  text-align: center;
}
#arrow {
  height:110px;
  width:75px;
  transform:scale(0.5) translateX(-150px) translateY(20px);
  fill: white;
  position: absolute;
}
.btn-success {
  background-color: #65697c;
  border-radius: 100px;
  width: 350px;
  height: 50px;
  margin-top: 50px;
  font-size: 20px;
  border: 0px;
}
#obr {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  text-align:left ;
  align-items: center;
 margin-top: 50px;
}
#texts1 {
  display: flex;
  flex-direction: row;
  width:95%;
  height:fit-content;
  display: flex;
  justify-content: space-between;
}
#bgtext1 {
  width:95%;
  margin-bottom: 30px;
  height:fit-content;
}
#bgtext1, #bgtext2, #bgtext3 {
  background-color:#F3F1EB;
  padding: 30px 60px;
  border-radius: 30px;
}
#text3, #text2, #text1 {
  font-size: 25px;
}
#name {
  font-size: 48px;
  color:#FBB900;
}
#bgtext3, #bgtext2 {
  width: 48.7%;
}
#traek11, #traek22, #traek33 {
  height: 300px;
  width: 360px;
  object-fit: cover;
  position: absolute;
  filter: brightness(50%);
}
#all_traek {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 70px;
}
#obr_tr {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 50px;
  margin-bottom: 150px;
}
#traek111, #traek222, #traek333 {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 300px;
  width: 360px;
  align-items: center;
  justify-content: center;
  
}
#traek_text1, #traek_text2, #traek_text3 {
  color: white;
  font-size: 25px;
  width: 250px;
  text-align: center;
}
#traek1, #traek2, #traek3 {
  height: 300px;
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn-outline-secondary {
  border-radius: 45px;
  height: 45px;
  width: 145px;
  color: white;
  border: 1px solid white;
}
.btn-outline-secondary:hover {
  color: rgb(90, 90, 90);
  background-color: white; 
}
#name_obr_tr {
  color: rgb(251, 185, 0);
  font-size: 55px;
}


