.bg2 {
    position: absolute;
    margin-top: -21px;
    z-index: -1;
}
.hero1_text {
    width: 900px;
    display: flex;
    flex-direction: column;
    height: 140px;
    justify-content: space-between;
    margin-left: 100px;
    padding-top: 40px;
}
.hero1_text1 {
    font-size: 32px;
    font-weight: bold;
}
.hero1_text2 {
    font-size: 20px;
    font-weight: 600;
}
.tel_flex1 {
    display: flex;
    align-items: center;
    width: 1200px;
    justify-content: space-between;
    margin-top: 25px;
    margin-left: 135px;
}
.tel_flex2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 740px;
}
.hero1 {
    margin-bottom: 44px;
}